body{
    background-color: lightblue;
}

h1{
    text-align: center;
    font-size: 4em;
}

h2{
    font-size: 2em;
}

h1,h2,h3{
    font-family: Arial, Helvetica, sans-serif;
}

#paragraph2{
    background-color: white;
    border-color: green;
    border-width: 5px;
    border-style: solid;
    margin-left: 2%;
    margin-right: 40%;
    line-height: 2em;
    padding: 15px 45px;
}

.blue{
    background-color: darkblue;
    color: white;
    padding: 15px;
}

li a{
    color:blue;
}

p a{
    color:purple;
}

ol{
    list-style-type: decimal-leading-zero;
}

table,th,td{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px 10px;
}

th{
    background-color: lightgray;
}
tr{
    background-color: white;
}