/* bottom right block */
#thanks {
    font-size: 32px;
    position: fixed;
    bottom: -35px;
    right: 0px;
    border: 2px solid black;
    background-color: lightblue;
    padding: 10px;
}

/* article navigation*/
#jumpMenu {
    font-size: 32px;
    text-align: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 15%;
    height: 100%;
    background-color: goldenrod;
}

#jumpMenu a {
    line-height: 2.25;
}

/* main journal articles */
h1 {
    text-align: center;
    font-size: 50px;
    padding: 10px;
}

main {
    margin-left: 15%;
    margin-top: 7.5%;
}

#container {
    display: flex;
    flex-wrap: wrap;
}

article {
    width: 300px;
    padding: 30px;
}

/* headers */
header{
    position: fixed;
    top: 0px;
    left: 15%;
    width: 85%;
}
header p {
    margin: 0px;
    background-color: red;
    padding: 25px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

header nav {
    display: flex;
    background-color: black;
    justify-content: space-evenly;
}

nav button {
    background-color: blue;
    color: white;
    font-size: 20px;
    padding: 15px;
    width: 300px;
}